<?xml version="1.0"?>
<configuration>
    <appSettings>
      <!-- <add key="connection" value="Server=KCS1778;Database=aispa;User Id=sa;
Password=sa;"/> -->
      <!--<add key="connection" value="Server=AMPERSAN-PC;Database=aispa;User Id=sa;
Password=P@ssw0rd;"/>-->
      <add key="connection" value="Server=PRANG-PC\SQLEXPRESS;Database=aispa;User Id=sa;
Password=P@ssw0rd;"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
